In [ ]:
#importing the packages

In [1]:
import pandas as pd
import numpy as np
import scipy.optimize as opt
import time

In [2]:
# Read in the dataset
set3 = pd.read_stata('PS3_data.dta')
set3.head(n=5)

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,redpregovinc,hsex,wsex,age,wage,hpersno,wpersno,hyrsed,wyrsed,pce
0,1,1967,1,Head,1200.0,2000.0,NaN,NaN,0,NaN,...,5614.0,1.0,2.0,52.0,46.0,1.0,2.0,8.0,8.0,0.0
1,2,1967,2,Head,0.0,0.0,NaN,NaN,0,NaN,...,0.0,1.0,2.0,56.0,57.0,1.0,2.0,3.0,3.0,0.0
2,3,1967,3,Head,0.0,0.0,NaN,NaN,0,NaN,...,0.0,1.0,2.0,77.0,64.0,1.0,2.0,NaN,3.0,0.0
3,4,1967,4,Head,1560.0,0.0,NaN,NaN,6,1.0,...,3280.0,1.0,2.0,45.0,44.0,1.0,2.0,8.0,5.0,0.0
4,5,1967,5,Head,2500.0,2000.0,NaN,NaN,3,1.0,...,7900.0,1.0,2.0,24.0,22.0,1.0,2.0,10.0,9.0,0.0

In [3]:
set3 = set3[(set3.hlabinc.isnull() != True)&(set3.hannhrs.isnull() != True) & (set3.hannhrs > 0) &
           (set3.hyrsed.isnull() != True) & (set3.age.isnull() != True) & 
            (set3.hrace.isnull() != True)]

In [4]:
set3['wageperhour'] = set3['hlabinc'] / set3['hannhrs']
set3['logwage']= np.log(set3['wageperhour'])

In [6]:
set3= set3[(set3.hsex==1)&(set3.age >= 25)&(set3.age <= 60)&(set3.wageperhour > 7)]

In [7]:
set3.describe()

,id68,year,intid,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,hrace,...,wsex,age,wage,hpersno,wpersno,hyrsed,wyrsed,pce,wageperhour,logwage
count,57062.000000,57062.000000,57062.000000,57062.000000,57062.000000,5.706200e+04,37133.000000,57062.000000,51693.000000,57062.000000,...,49775.0,57062.000000,49775.000000,57062.000000,49775.000000,57062.000000,49425.000000,57062.000000,57062.000000,57062.000000
mean,1507.470558,1986.575672,3480.375311,2228.557617,991.441406,5.282805e+04,23073.908203,1.173566,1.086298,1.101416,...,2.0,39.243629,37.327675,58.632908,68.006027,13.529967,13.209712,0.616109,24.320921,3.010804
std,828.361439,8.712311,2253.229068,620.054077,926.178162,5.236477e+04,20998.779297,1.216918,0.343691,0.369015,...,0.0,9.578858,9.566348,78.453896,81.718880,2.450013,2.163211,0.206353,25.209909,0.544096
min,1.000000,1971.000000,1.000000,2.000000,0.000000,1.666980e+01,1.192780,0.000000,1.000000,1.000000,...,2.0,25.000000,16.000000,1.000000,1.000000,1.000000,1.000000,0.247121,7.000252,1.945946
25%,782.000000,1979.000000,1690.000000,1952.000000,0.000000,3.037345e+04,8895.574219,0.000000,1.000000,1.000000,...,2.0,31.000000,30.000000,1.000000,2.000000,12.000000,12.000000,0.421747,13.950662,2.635527
50%,1542.000000,1987.000000,3296.000000,2160.000000,953.299988,4.382858e+04,19498.349609,1.000000,1.000000,1.000000,...,2.0,38.000000,36.000000,4.000000,4.000000,13.000000,12.000000,0.635834,19.914677,2.991457
75%,2225.000000,1994.000000,5002.000000,2519.000000,1900.000000,6.138495e+04,31769.908203,2.000000,1.000000,1.000000,...,2.0,47.000000,44.000000,170.000000,170.000000,16.000000,15.000000,0.803488,27.790929,3.324710
max,2930.000000,2002.000000,16968.000000,5840.000000,5840.000000,3.771521e+06,417271.468750,11.000000,8.000000,3.000000,...,2.0,60.000000,70.000000,227.000000,230.000000,17.000000,17.000000,0.928007,1717.330322,7.448526

In [8]:
set3['Black'] = set3.loc[:,'hrace'].apply(lambda x : 1 if x == 2 else 0)
set3['Hispanic'] = set3.loc[:,'hrace'].apply(lambda x : 1 if x == 5 else 0)
set3['OtherRace'] = set3.loc[:,'hrace'].apply(lambda x : 1 if x == 3 or x == 4 or x == 6 or x == 7 else 0)

In [ ]:
set3.head(n=5)

In [ ]:
set3['year'].value_counts()

In [ ]:
set3.somecalulation(1971)

In [ ]:
np.sum(set3.year ==1971)

In [9]:
set3['cons']=1

In [ ]:
set3.describe()

In [ ]:
## This is for all obs:

# Adding a year as a parameter:

In [ ]:
# Set bounds on parameters
bnds = ((None, None), (None, None), (None, None),
        (None, None), (None, None), (None, None))

# I tried to use the parameter year in the mle_results function, but it did not work. It seems we need to define it
# outside, similar to defining 
year=1971

In [13]:
# Assuming normal distribution of the error term, the log-likelihood function below is given by the book of Hayashi
def loglike(params, year, dataset):
    
    
    z=np.array([list(params)])
    beta = np.transpose(z)
    
    #n returns the sum of obs that have a value equal to the parameter year
    n = np.sum(dataset.year == year)
    
    #Note [set3['cons'][set3.year==year] >>>> This extract a portion of the data set
    # that has the column 'year' = to the parameter year, i.e. a portion of the matrix. 
    #The same for other columns...
    
    
    x = np.array([dataset['cons'][dataset.year == year], dataset['hyrsed'][dataset.year == year],
                  dataset['age'][dataset.year == year], dataset['Black'][dataset.year == year], 
                  dataset['OtherRace'][dataset.year == year]]).T
    
    y = np.array([dataset['logwage'][dataset.year == year]]).T
    
    epsilon = y - np.dot(x, beta)
    
    essilon_s = np.dot(epsilon, epsilon.T)
    
    sigma = test(dataset, year, params)
    
    
    
    
   
    
    log_like = (((n/2) * np.log(2 * (np.pi))) + ((n)/2)* np.log((sigma**2)) +
                  (( essilon_s / ((sigma ** 2))/2))).item(0,0)
    
    return log_like

In [14]:
def test(dataset, year, params):
    
    z=np.array([list(params)])
    beta = np.transpose(z)
    n = np.sum(dataset.year == year)
    x = np.array([dataset['cons'][dataset.year == year], dataset['hyrsed'][dataset.year == year],
                  dataset['age'][dataset.year == year], dataset['Black'][dataset.year == year], 
                  dataset['OtherRace'][dataset.year == year]]).T
    
    y = np.array([dataset['logwage'][dataset.year == year]]).T
    
    var = np.dot((y - np.dot(x, beta)).T, (y - np.dot(x, beta)) ) / n
                 

    return var.item(0,0)

In [15]:
params0 = (0.1, -0.1, 0.2, -0.1, 0.6)
bnds = ((None, None), (None, None), (None, None),
        (None, None), (None, None))
year=1971
dataset=set3
# Call minimzer to minimize the log-likelihood function
mle_results = opt.minimize(loglike, params0,args=(year, dataset),
                           method='SLSQP',bounds=bnds, tol=1e-15,)

mle_results

     fun: -1184.9417701886941
     jac: array([-0.0035553 , -0.04489136, -0.13012695,  0.        ,  0.00033569])
 message: 'Optimization terminated successfully.'
    nfev: 311
     nit: 34
    njev: 34
  status: 0
 success: True
       x: array([ 1.54589821,  0.06693519,  0.01453764, -0.16541404,  0.02936544])